@model ASS_QLTV_API.Models.Taikhoan;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Tạo mới người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới người dùng</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="User">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="User" class="control-label"></label>
                        <input asp-for="User" class="form-control" />
                        <span asp-validation-for="User" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhanQuyen" class="control-label"></label>
                        <input asp-for="PhanQuyen" class="form-control" value="1" min="1" max="2"/>
                        <span asp-validation-for="PhanQuyen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TenNd" class="control-label"></label>
                        <input asp-for="TenNd" class="form-control" />
                        <span asp-validation-for="TenNd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sdt" class="control-label"></label>
                        <input asp-for="Sdt" class="form-control" />
                        <span asp-validation-for="Sdt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cmnd" class="control-label"></label>
                        <input asp-for="Cmnd" class="form-control" />
                        <span asp-validation-for="Cmnd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Tạo" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
