USE [qlsach]
GO
/****** Object:  Schema [qlsach]    Script Date: 6/15/2022 10:08:23 PM ******/
CREATE SCHEMA [qlsach]
GO
/****** Object:  Table [qlsach].[ctpm]    Script Date: 6/15/2022 10:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [qlsach].[ctpm](
	[MaCTPM] [nchar](10) NOT NULL,
	[MaPM] [nvarchar](10) NOT NULL,
	[MaSach] [nvarchar](10) NOT NULL,
	[NgayTra] [date] NULL,
	[TinhTrangSach] [int] NOT NULL,
	[TinhTrangTra] [int] NULL,
	[User] [nvarchar](10) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[TienPhat] [float] NULL,
 CONSTRAINT [PK_ctpm_MaPM] PRIMARY KEY CLUSTERED 
(
	[MaCTPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [qlsach].[docgia]    Script Date: 6/15/2022 10:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [qlsach].[docgia](
	[MaDG] [nvarchar](10) NOT NULL,
	[TenDG] [nvarchar](20) NOT NULL,
	[SDT] [nvarchar](20) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[MatSach] [int] NOT NULL,
 CONSTRAINT [PK_docgia_MaDG] PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [qlsach].[phieumuon]    Script Date: 6/15/2022 10:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [qlsach].[phieumuon](
	[MaPM] [nvarchar](10) NOT NULL,
	[MaDG] [nvarchar](10) NOT NULL,
	[NgayMuon] [date] NOT NULL,
	[NgayHenTra] [date] NOT NULL,
	[SoLuongMuon] [int] NOT NULL,
	[User] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_phieumuon_MaPM] PRIMARY KEY CLUSTERED 
(
	[MaPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [qlsach].[sach]    Script Date: 6/15/2022 10:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [qlsach].[sach](
	[MaSach] [nvarchar](10) NOT NULL,
	[TenSach] [nvarchar](500) NOT NULL,
	[TenTG] [nvarchar](500) NOT NULL,
	[NhaXB] [nvarchar](500) NOT NULL,
	[TheLoai] [nvarchar](500) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaTien] [float] NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[MieuTa] [nvarchar](2500) NULL,
 CONSTRAINT [PK_sach_MaSach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [qlsach].[taikhoan]    Script Date: 6/15/2022 10:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [qlsach].[taikhoan](
	[User] [nvarchar](10) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[PhanQuyen] [int] NOT NULL,
	[TenND] [nvarchar](20) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[CMND] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_taikhoan_User] PRIMARY KEY CLUSTERED 
(
	[User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [qlsach].[docgia] ([MaDG], [TenDG], [SDT], [DiaChi], [GioiTinh], [MatSach]) VALUES (N'DG01', N'Đỗ Nhật Quang', N'0342565857', N'Quận Thủ Đức', N'Nam', 0)
INSERT [qlsach].[docgia] ([MaDG], [TenDG], [SDT], [DiaChi], [GioiTinh], [MatSach]) VALUES (N'DG02', N'Trần Quốc Phong', N'0981249458', N'Quận Gò Vấp', N'Nam', 1)
INSERT [qlsach].[docgia] ([MaDG], [TenDG], [SDT], [DiaChi], [GioiTinh], [MatSach]) VALUES (N'DG03', N'Lê Thị Thanh Tiến', N'0983216950', N'Quận 2', N'Nữ', 1)
GO
INSERT [qlsach].[phieumuon] ([MaPM], [MaDG], [NgayMuon], [NgayHenTra], [SoLuongMuon], [User]) VALUES (N'PM01', N'DG01', CAST(N'2020-05-03' AS Date), CAST(N'2020-06-03' AS Date), 2, N'khanhlam')
INSERT [qlsach].[phieumuon] ([MaPM], [MaDG], [NgayMuon], [NgayHenTra], [SoLuongMuon], [User]) VALUES (N'PM02', N'DG02', CAST(N'2020-05-06' AS Date), CAST(N'2020-06-06' AS Date), 3, N'dinhkha')
INSERT [qlsach].[phieumuon] ([MaPM], [MaDG], [NgayMuon], [NgayHenTra], [SoLuongMuon], [User]) VALUES (N'PM03', N'DG03', CAST(N'2020-05-15' AS Date), CAST(N'2020-06-15' AS Date), 2, N'phuckhang')
GO
INSERT [qlsach].[sach] ([MaSach], [TenSach], [TenTG], [NhaXB], [TheLoai], [SoLuong], [GiaTien], [ImageUrl], [MieuTa]) VALUES (N'MS02', N'ĐẠI SỐ TUYỂN TÍNH', N'Ninh Quang Hải', N'NXB Xây Dựng', N'Giáo trình', 10, 52000, N'/img/sach/aHR0cHM6Ly9zYWx0LnRpa2ljZG4uY29tL3RzL3Byb2R1Y3QvNTMvMGIvMGUvMjIyYzU0NTU0ODk3ZmE0NzFmOGExNzhlODU4NjJmNmIuanBn.jpg', N'Sách ĐẠI SỐ TUYẾN TÍNH gồm các chương sau:  Chương 1: MA TRẬN - ĐỊNH THỨC - HỆ PHƯƠNG TRÌNH TUYẾN TÍNH.    Chương 2: KHÔNG GIAN VÉC TƠ Chương 3: ÁNH XẠ TUYẾN TÍNH ')
GO
INSERT [qlsach].[taikhoan] ([User], [Password], [PhanQuyen], [TenND], [SDT], [CMND]) VALUES (N'admin', N'admin', 1, N'Admin', N'0905909095', N'0246562785115')
INSERT [qlsach].[taikhoan] ([User], [Password], [PhanQuyen], [TenND], [SDT], [CMND]) VALUES (N'canhlong', N'123', 2, N'Bùi Cảnh Long', N'0981024945', N'077200003137')
INSERT [qlsach].[taikhoan] ([User], [Password], [PhanQuyen], [TenND], [SDT], [CMND]) VALUES (N'dinhkha', N'123', 1, N'Lê Võ Đình Kha', N'0342565857', N'215486548')
GO
ALTER TABLE [qlsach].[ctpm] ADD  CONSTRAINT [DF__ctpm__NgayTra__440B1D61]  DEFAULT (NULL) FOR [NgayTra]
GO
ALTER TABLE [qlsach].[ctpm] ADD  CONSTRAINT [DF__ctpm__TinhTrangT__44FF419A]  DEFAULT (NULL) FOR [TinhTrangTra]
GO
ALTER TABLE [qlsach].[ctpm] ADD  CONSTRAINT [DF__ctpm__User__45F365D3]  DEFAULT (NULL) FOR [User]
GO
ALTER TABLE [qlsach].[ctpm] ADD  CONSTRAINT [DF__ctpm__GhiChu__46E78A0C]  DEFAULT (NULL) FOR [GhiChu]
GO
ALTER TABLE [qlsach].[ctpm] ADD  CONSTRAINT [DF__ctpm__TienPhat__47DBAE45]  DEFAULT (NULL) FOR [TienPhat]
GO
ALTER TABLE [qlsach].[sach] ADD  DEFAULT (NULL) FOR [ImageUrl]
GO
ALTER TABLE [qlsach].[sach] ADD  DEFAULT (NULL) FOR [MieuTa]
GO
ALTER TABLE [qlsach].[ctpm]  WITH NOCHECK ADD  CONSTRAINT [ctpm$ctpm_ibfk_1] FOREIGN KEY([User])
REFERENCES [qlsach].[taikhoan] ([User])
GO
ALTER TABLE [qlsach].[ctpm] CHECK CONSTRAINT [ctpm$ctpm_ibfk_1]
GO
ALTER TABLE [qlsach].[ctpm]  WITH NOCHECK ADD  CONSTRAINT [ctpm$ctpm_ibfk_3] FOREIGN KEY([MaSach])
REFERENCES [qlsach].[sach] ([MaSach])
GO
ALTER TABLE [qlsach].[ctpm] CHECK CONSTRAINT [ctpm$ctpm_ibfk_3]
GO
ALTER TABLE [qlsach].[ctpm]  WITH CHECK ADD  CONSTRAINT [FK_ctpm_phieumuon] FOREIGN KEY([MaPM])
REFERENCES [qlsach].[phieumuon] ([MaPM])
GO
ALTER TABLE [qlsach].[ctpm] CHECK CONSTRAINT [FK_ctpm_phieumuon]
GO
ALTER TABLE [qlsach].[phieumuon]  WITH NOCHECK ADD  CONSTRAINT [phieumuon$fk_phieumuon_MaDG] FOREIGN KEY([MaDG])
REFERENCES [qlsach].[docgia] ([MaDG])
GO
ALTER TABLE [qlsach].[phieumuon] CHECK CONSTRAINT [phieumuon$fk_phieumuon_MaDG]
GO
ALTER TABLE [qlsach].[phieumuon]  WITH NOCHECK ADD  CONSTRAINT [phieumuon$fk_phieumuon_User] FOREIGN KEY([User])
REFERENCES [qlsach].[taikhoan] ([User])
GO
ALTER TABLE [qlsach].[phieumuon] CHECK CONSTRAINT [phieumuon$fk_phieumuon_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'qlsach.ctpm' , @level0type=N'SCHEMA',@level0name=N'qlsach', @level1type=N'TABLE',@level1name=N'ctpm'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'qlsach.docgia' , @level0type=N'SCHEMA',@level0name=N'qlsach', @level1type=N'TABLE',@level1name=N'docgia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'qlsach.phieumuon' , @level0type=N'SCHEMA',@level0name=N'qlsach', @level1type=N'TABLE',@level1name=N'phieumuon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'qlsach.sach' , @level0type=N'SCHEMA',@level0name=N'qlsach', @level1type=N'TABLE',@level1name=N'sach'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'qlsach.taikhoan' , @level0type=N'SCHEMA',@level0name=N'qlsach', @level1type=N'TABLE',@level1name=N'taikhoan'
GO
