@{ ViewData["Title"] = "Trang chủ"; }

<div class="container-fluid">
    <h1 class="mt-4">Trang chủ</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Trình điều khiển</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card badge-warning text-white mb-4">
                <div class="card-body">QUẢN LÝ SÁCH </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/Product/Index">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card badge-primary text-white mb-4">
                <div class="card-body">QUẢN LÝ ĐỘC GIẢ</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/DocGia/Index">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card badge-warning text-white mb-4">
                <div class="card-body">QUẢN LÝ PHIẾU MƯỢN</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/PhieuMuon/Index">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card badge-success text-white mb-4">
                <div class="card-body">QUẢN LÝ PHIẾU TRẢ</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/PhieuTra/Index">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card badge-info text-white mb-4">
                <div class="card-body">QUẢN LÝ NGƯỜI DÙNG</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/User/Index">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card badge-secondary text-white mb-4">
                <div class="card-body">TRANG REVIEW SÁCH</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="~/PageReview/Home/Index">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card badge-danger text-white mb-4">
                <div class="card-body">THỐNG KÊ</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/ThongKe/Index">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card badge-info text-white mb-4">
                <div class="card-body">ABOUT</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/Home/Index1">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
   
</div>