@model PJC.Models.DocGia

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Tạo mới độc giả</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/User/Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới độc giả</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" href="/User/DocGia/Index">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-4">
                <form action="~/User/DocGia/Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MaDG" class="control-label"></label>
                        <input asp-for="MaDG" class="form-control" />
                        <span asp-validation-for="MaDG" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TenDG" class="control-label"></label>
                        <input asp-for="TenDG" class="form-control" />
                        <span asp-validation-for="TenDG" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SDT" class="control-label"></label>
                        <input asp-for="SDT" class="form-control" />
                        <span asp-validation-for="SDT" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiaChi" class="control-label"></label>
                        <input asp-for="DiaChi" class="form-control" />
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GioiTinh" class="control-label"></label>
                        <input asp-for="GioiTinh" class="form-control" />
                        <span asp-validation-for="GioiTinh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MatSach" class="control-label"></label>
                        <input asp-for="MatSach" class="form-control" />
                        <span asp-validation-for="MatSach" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






